<script>
	if (window.matchMedia("( min-width: 1024px )").matches == true) {
		document.write(
			'<ins class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-lNb48f9hfncTXYWU" data-ad-width="728" data-ad-height="90"></ins><script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async><\/script>'
		);
	}
	if (window.matchMedia("( max-width: 768px )").matches == true) {
		document.write(
			'<ins class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-EIS2LjuDx9w1S2H6"" data-ad-width="320" data-ad-height="50"></ins><script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async><\/script>'
		);
	}
</script>