<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/static/images/favicon.png" alt="profile" width="28" height="28" class="rounded-circle"> 짤방러
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-file-earmark-text"></i> 약관</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item disabled" href="#" aria-disabled="true" style="text-align: center;">이용약관</a></li>
                        <li><a class="dropdown-item disabled" href="#" aria-disabled="true" style="text-align: center;">개인정보 처리방침</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://discord.gg/RSUqQBzP9B"><i class="bi bi-discord"></i> 지원 디스코드</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="profile" width="20" height="20" class="rounded-circle"> Happytree Samsung#7612
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="/profile" style="text-align: center;">프로필</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout" style="color: red;" style="text-align: center;"><i class="bi bi-box-arrow-left"></i> 로그아웃</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="bi bi-box-arrow-in-right"></i> 로그인</a>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
<br>