<html lang="ko">
    {% include 'include/head.html' %}
    <body class="pt-5">
        {% include 'include/nav.html' %}
        <div class="container">
            <div class="p-4 text-white rounded" style="background:#20C5FA !important">
                <img src="/favicon.ico" alt="짤방러 로고" class="rounded-circle" width="128" height="128" /><br><br>

                <h1 class="display-5 fw-bold">짤방러</h1>
                <p>재미있는 짤을 한곳에서, 짤방러<br />이용자분들이 추가한 짤로 웃고, 울고, 다양한 감정으로 시간을 보내보세요!</p>
                <a class="btn btn-dark btn-lg" type="button" href="/invite" target="_blank">봇 초대하기 <i class="bi bi-box-arrow-up-right"></i></a> <a class="btn btn-primary btn-lg" type="button" href="/koreanbots" target="_blank">한국 디스코드 리스트 <i class="bi bi-box-arrow-up-right"></i></a>
            </div>
            <br />
            <div class="alert alert-success" role="alert">
                <h3>도움이 필요하신가요?</h3>
                <h5><mark>공식 포럼</mark>을 통해서 지원을 받아보세요.</h5>
                <a class="btn btn-light btn-lg" type="button" href="/discord" target="_blank">도움이 필요하신가요? <i class="bi bi-arrow-right"></i></a>
            </div>
            {% include 'include/ad.html' %}
            <br /><br />
            <div class="p-4 bg-dark text-white rounded">
                <h2 style="text-align: left;">모두가 공유할 수 있는 공유 플랫폼</h2>
                <p style="text-align: left;">이용자 여러분들은 짤방러 서비스에 가입하신 후, '/업로드 [파일/링크]' 명령어로 쉽게 공유하실 수 있어요!</p>
            </div>
            <br />
            <div class="p-4 bg-dark text-white rounded">
                <h2 style="text-align: right;">빠른 신고 처리</h2>
                <p style="text-align: right;">업로드된 짤을 보면서 가이드라인에 위반되거나, 문제가 될만한 짤은 '신고하기' 기능으로 신고해주세요!<br />신고는 담당자가 확인 후 최대 7일 내로 처리됩니다!</p>
            </div>
            <br />
            <div class="p-4 bg-dark text-white rounded">
                <h2 style="text-align: left;">이외에도 다양한 기능들...</h2>
                <p style="text-align: left;">이외에도 랜덤 짤 조회 기능('/랜덤'), 짤 제목 검색 기능('/검색') 등과 함께 지금도 만들어가고 있어요!</p>
            </div>
            <br />
            {% include 'include/ad.html' %}
            <br /><br />
            <div class="p-4 bg-dark text-white rounded" style="background:#20C5FA !important">
                <h2 style="text-align: center;">다기능 짤방러를 사용해보시겠어요?</h2>
                <p style="text-align: center;">지금 바로 초대해보세요.</p>
                <a class="btn btn-dark btn-lg" type="button" href="/invite" target="_blank">봇 초대하기 <i class="bi bi-box-arrow-up-right"></i></a> <a class="btn btn-primary btn-lg" type="button" href="/koreanbots" target="_blank">한국 디스코드 리스트 <i class="bi bi-box-arrow-up-right"></i></a>
            </div>
        </div>
        {% include 'include/footer.html' %}
    </body>
</html>